.container {
  max-width: 940px;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  margin-top: 76px;
  margin-bottom: 50px;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12  {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

header {
   padding-top: 49px;
   margin-bottom: 49px;
}
.justify-center {
   justify-content: center;
}

header nav a {
   color: #3d3d3d;
   text-decoration: none;
   margin-right: 36px;
}

header nav a:last-child {
  margin-right: 0;
}

.header-logo-col {
  margin-bottom: 51pt;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.main-item {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border: 1px solid #979797;
  padding-top: 50px;
  padding-bottom: 40px;
  margin-bottom: 50px
}

.little-contain {
  display: flex;
  width: 100%;
  background-color: #d8d8d8;
  border: 1px solid #979797;
  padding-top: 15px;
  padding-left: 52px;
  padding-right: 56.7px;
  padding-bottom: 26.6px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.little-contain:hover {
  box-shadow: 0 22px 43px rgba(0,0,0,0.15);
  transition: 0.3s;
  transform: translateY(-5px);
  cursor: pointer;
}
.main-item-container {
  display: flex;
  flex-direction: column;
}

.main-item-right {
  display: flex;
  flex-direction: column;
}
.main-item-img {
  width: 252px;
  height: 395.4px;
}

.main-item-name{
  
  font-size: 36px;
  font-weight: bold;
}

.pop-items{
  
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 
}

.main-item-name-last {
  font-size: 24px;
  font-weight: bold;
}

.main-item-contains {
  font-size: 18px;
  margin-bottom: 1px;
}

.main-item-last {
  font-size: 18px;
  margin-bottom: 56px;
}

.card-container {
  width: 379px;
  height: 96px;
  margin-left: 88px;
  justify-content: center;
}
.card-description {
  line-height: normal;
  color: #000000;
  margin-bottom: 56px;
  font-size: 18px;
  width: 379px;
  height: 96px;

}

.card-last-container {
  margin-bottom: 48px;
}

.card-last  {
  color: #000000;
  font-size: 18px;
}


.card {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;
}

.main-item-btn {
   width: 100%;
  border: 1px solid #3d3d3d;
  padding: 15px 0;
  background-color: #f2f2f2;
  color: #3d3d3d;
  font-size: 20px;
}

.main-item-btn:hover {
  cursor: pointer;
}

.vk {
  padding-top: 22px;
  padding-bottom: 22px;
  width: 100%;
  background-color: #5f81a9;
  border: 1px solid #5f81a9;
  color: #3d3d3d;
}

.fb {
  padding-top: 18px;
  padding-bottom: 18px;
  width: 100%;
  background-color: #3a589c;
  border: 1px solid #3a589c;
  color: #3d3d3d;
}

.tg {
  padding-top: 20px;
  padding-bottom: 18px;
  width: 100%;
  background-color: #419fd9;
  border: 1px solid #419fd9;
  color: #3d3d3d;}

.md {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: #00e272;
  border: 1px solid #00e272;
  color: #3d3d3d;
}

.vk:hover {
  cursor: pointer;
}

.fb:hover {
  cursor: pointer;
}

.tg:hover {
  cursor: pointer;
}

.md:hover {
  cursor: pointer
}
.align {
  display: flex;
  flex-wrap: wrap; 
  margin-top: 76px;
  margin-bottom: 50px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3d3d3d;
  padding: 40px 0;
  color: #ffffff;
}
.footer-links {
  margin-bottom: 20px;
}
.footer-links a {
  color: #ffffff;
  margin-right: 30px;
}
.footer-links a:last-child {
  margin-right: 0;
}

/*.animate {
  transition: 0.5s;
  animation: rotateBox 3s linear infinite;
}

@keyframes rotateBox {
 from { transform: rotate(0) }
 to { transform: rotate(360deg) }
} */




@media(min-width: 768px) and (max-width: 990px) {

   .card-description {
  line-height: normal;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 56px;

}

 .main-item-btn {
   width: 100%;
  border: 1px solid #3d3d3d;
  padding: 15px 0;
  text-align: center;
  background-color: #f2f2f2;
  color: #3d3d3d;
  font-size: 15px;
}

  .align {
    display: flex;
    flex-direction: column;
  }

  .vk {
    margin-bottom: 10px;
    justify-content: center;
  }

  .fb {
    margin-bottom: 10px;
    justify-content: center;
  }

  .tg {
    margin-bottom: 10px;
    justify-content: center;
  }

  .md {
    margin-bottom: 10px;
    justify-content: center;
  }

 .col-sm-1 {
    width: 8.333333%;
  }

  .col-sm-2 {
    width: 16.666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.333333%;
  }

  .col-sm-5 {
    width: 41.666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.333333%;
  }

  .col-sm-8 {
    width: 66.666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.333333%;
  }

  .col-sm-11 {
    width: 91.666667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .text-align {
  text-align: center;
  width: 100%;
}

}

  @media(max-width: 768px) {


    .main-item-btn {
   width: 100%;
  border: 1px solid #3d3d3d;
  padding: 15px 0;
  padding-bottom: 20x;
  background-color: #f2f2f2;
  color: #3d3d3d;
  font-size: 15px;
}

  .card-description {
  line-height: normal;
  color: #000000;
  margin-bottom: 56px;
  width: 100%;

}

.card-last  {
  line-height: normal;
  color: #000000;
  font-size: 14px;
   width: 60%;
  height: 60%;
}

  .main-item-name-last {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1px;

}

.pop-items{
  
  font-size: 18px;
  font-weight: bold;
}

    .main-item-img {
  width: 183px;
  height: 284px;
  margin-bottom: 36px;
}

    header nav {
    display: flex;
    flex-direction: column;
  }

  header nav a {
    margin-bottom: 10px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
  }
  .footer-links a {
    margin-bottom: 10px;
  }

   .col-xs-1 {
    width: 8.333333%;
  }

  .col-xs-2 {
    width: 16.666667%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-4 {
    width: 33.333333%;
  }

  .col-xs-5 {
    width: 41.666667%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-7 {
    width: 58.333333%;
  }

  .col-xs-8 {
    width: 66.666667%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-10 {
    width: 83.333333%;
  }

  .col-xs-11 {
    width: 91.666667%;
  }

  .col-xs-12 {
    width: 100%;
  }

   .align {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .vk {
    margin-bottom: 10px;
  }

  .fb {
    margin-bottom: 10px;
  }

  .tg {
    margin-bottom: 10px;
  }

  .md {
    margin-bottom: 10px;
  }

.main-item-name{
  
  font-size: 18px;
  font-weight: bold;
}

.text-align {
  text-align: center;
  width: 100%;
}
}

@media(max-width: 990px) {
  .container {
    padding: 10px;
  }
}